{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<h1>CHÀO MỪNG ĐẾN VỚI TRANG QUẢN TRỊ</h1>
<h2>CHÀO {{ current_user.username }}</h2>
{% else %}
<h1 class="text-center text-danger mt-1">ĐĂNG NHẬP TRANG QUẢN TRỊ</h1>
<form method="post" action="/login-admin">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username" />
        <label for="username">Tên đăng nhập</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password">
        <label for="password">Mật khẩu</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <button class="btn btn-danger">Đăng nhập</button>
    </div>
</form>
{% endif %}
{% endblock %}